# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

node_modules
dist
*.local

# Editor directories and files
.vscode/*
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Keep
!.vscode/extensions.json
!.vscode/settings.json