.btn {
  background: red;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background: darken($color: red, $amount: 5%);
    transform: translateY(-2px);
  }

  &:active {
    background: red;
    transform: translateY(2px);
  }
}